:root {
    --color1:#05386b;
    --color2:#5cdb95;
}

@font-face {
    font-family: "ONRAMP"; 
    src: url("/font/ONRAMP.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }


section {
  padding: 100px 0;
}

header {
  padding: 200px 0;
}

h1 {
  font-family: "ONRAMP", sans-serif;
  color: #05386b;
  font-size: 50px;
  text-shadow: 4px 4px 4px rgb(100, 97, 97);
}

header,
footer {
  background: url(/img/pattern.png), var(#5cdb95);
  background: url(/img/pattern.png),
    -moz-linear-gradient(left, #5cdb95 0%, #5cdb95 40%, #5cdb95 100%);
  background: url(/img/pattern.png),
    -webkit-linear-gradient(left, #5cdb95 0%, #5cdb95 40%, #5cdb95 100%);
  background: url(/img/pattern.png),
    linear-gradient(to right, #5cdb95 0%, #5cdb95 40%, #5cdb95 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CDB95', endColorstr='#5CDB95',GradientType=1 );
  background-size: contain;
}

.itd_play {
  background-color: #05386b;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px auto;
  transition: all 0.2s ease;
}

.itd_play:hover {
  background-color: rgb(0, 162, 255);
}

.itd_triangle {
  margin-right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
}

.btn-itd {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 30px;
  color: #fff;
  background-color: #05386b;
}
.btn-itd:hover {
  background-color: rgb(0, 162, 255);
}


.btn1 {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn2 {
    color: var(--color1);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

/*infa*/
.about {
font-size: 25px;
color: #05386b;
background-color: rgb(238, 236, 236);
}
.itd_circle {
margin: 0 auto 15px;
width: 70px;
height: 70px;
border: 3px solid var(--color2);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color2);
    margin: 15px auto 30px;
}
.infa {
    background-color: #05386b;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
  }
  
  .forwhom h5 {
    padding: 50px;
    border: 3px solid var(--color2)
  }

  .color1 {
   color: var(--color1)
  }
  .color2 {
    color: var(--color2)
   }

   footer {
    padding: 30px;
   }



